@model ThunderB_redesign.Areas.admin.Models.Page

@ViewBag.Title = "Details"


<h2>Details</h2>

<fieldset>
    <legend>Page</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_content)
    </div>
    <div class="display-field">
        @Html.Raw(Model.page_content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_visibility)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_visibility)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.page_slug)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_slug)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.page_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
