@model ThunderB_redesign.Models.jobApplication

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>jobApplication</legend>
        @Html.HiddenFor(model => model.date_posted, new { @Value = DateTime.Now })
        <div class="editor-label">
            @Html.LabelFor(model => model.first_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.first_name)
            @Html.ValidationMessageFor(model => model.first_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cover_letter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cover_letter)
            @Html.ValidationMessageFor(model => model.cover_letter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.resume)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.resume)
            @Html.ValidationMessageFor(model => model.resume)
        </div>


        <p>
            <input type="submit" value="Insert" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Job")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


