@model ThunderB_redesign.Models.Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Job</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.job_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.job_title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.category_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.category_id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.closing_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.closing_date)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.job_description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.job_description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.date_posted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_posted)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


