<link rel="stylesheet" type="text/css" href="~/Areas/admin/Content/AdminCss/defaultStyle.css" />
@model ThunderB_redesign.Models.Job

@{
    ViewBag.Title = "Edit a Job";
}

<h2>Edit a Job</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
      
        <div class="editor-label">
            @Html.LabelFor(model => model.job_title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.job_title)
            @Html.ValidationMessageFor(model => model.job_title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.category_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.category_id, new SelectList(ViewBag.objCategories, "Id", "category", "Select a category"))
            @Html.ValidationMessageFor(model => model.category_id)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.closing_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.closing_date)
            @Html.ValidationMessageFor(model => model.closing_date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.job_description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.job_description)
            @Html.ValidationMessageFor(model => model.job_description)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function() {

        CKEDITOR.replace('job_description', {
            language: 'en'
        });
    });

</script>
