@model IEnumerable<ThunderB_redesign.Models.Job>
@{
    ViewBag.Title = "Index";
}

<h2>Jobs</h2>

<table>
    <tr>
        <td>@Html.DisplayNameFor(model => model.job_title)</td>
        <td>@Html.DisplayNameFor(model => model.jobCategory.category)</td>
        <td>Applications</td>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.job_title</td>
            <td>@x.jobCategory.category</td>
            <td>@Html.ActionLink("Applications", "Index", "JobAppAdmin", new { id = x.Id }, null)</td>
        </tr>
    }

</table>


