To: @ViewBag.To
From: booking@tbrhsc.wikiplay.ca
Subject: We have booked your appointment with Dr. @ViewBag.Doctor

<p>
    Hello @ViewBag.Patient,
</p>
<p>
    We have booked your appointment with Dr. @ViewBag.Doctor  on <strong>@ViewBag.BookDate</strong> at <strong>@ViewBag.BookTime</strong>
</p>
<p>
    You need to bring your OHIP card and all medications you are currently taking.

</p>

<p>
    Please make sure to give us at least 48 hours notice if you are not able to come to your appointment. 
    If you don't contact our office by @ViewBag.CancelDate at (905)999-9999 and don't show up for your appointment, you may be charged a missed appointment fee.
</p>
<p>
    Best regards,
    Dr. @ViewBag.Doctor
</p>
