To: @ViewBag.To
From: booking@tbrhsc.wikiplay.ca
Subject: Your appointment with Dr. @ViewBag.Doctor has been cancelled

<p>
    Hello @ViewBag.Patient,
</p>
<p>
    Your appointment with Dr. @ViewBag.Doctor  on <strong>@ViewBag.BookDate</strong> at <strong>@ViewBag.BookTime</strong> has been cancelled according to your request.
</p>


<p>
    If you need to request appointment again, please do it <a href="http://tbrhsc.wikiplay.ca/Appointment/Index">online</a> 
</p>
<p>
    Best regards,
    Dr. @ViewBag.Doctor
</p>
