@model ThunderB_redesign.Models.donor

@{
    ViewBag.Title = "tbrhsc | Donation Control Panel";
}

<div class="donation-admin">

    <br/>
    <h2>Donor Details</h2>
    <br/>

    <div>
        
        <hr />
        <br/>
        <table class="stripes margin-0-auto">
            <tr>
                <td>
                    <strong>@Html.Label("Name")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_name)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("Email")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_email)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("Phone")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_phone)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("Apartment No")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_apt_no)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("Street")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_street)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("City")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_city)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("Province")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_province)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("Country")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_country)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.Label("Postal Code")</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dnr_postal_code)
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <p>
        @Html.ActionLink("Update", "Update", new { id = Model.dnr_id })
        @Html.ActionLink("Back to List", "List")
    </p>
</div>
