@model ThunderB_redesign.Areas.admin.Models.Page

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Page</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.page_visibility)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.page_visibility)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
