@model ThunderB_redesign.Areas.admin.Models.Page

@{
    ViewBag.Title = "Edit";
}


<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Page</legend>

        @Html.HiddenFor(model => model.page_id)

        <div class="editor-label">
            @Html.LabelFor(model => model.page_title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.page_title)
            @Html.ValidationMessageFor(model => model.page_title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.user_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_id)
            @Html.ValidationMessageFor(model => model.user_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.page_content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.page_content)
            @Html.ValidationMessageFor(model => model.page_content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.page_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.page_created)
            @Html.ValidationMessageFor(model => model.page_created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_id)
            @Html.ValidationMessageFor(model => model.menu_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.page_visibility)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.page_visibility)
            @Html.ValidationMessageFor(model => model.page_visibility)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.page_slug)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.page_slug)
            @Html.ValidationMessageFor(model => model.page_slug)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


    @Scripts.Render("~/bundles/jqueryval")

