@*@model IEnumerable<ThunderB_redesign.Models.page>*@
@model PagedList.IPagedList<ThunderB_redesign.Models.page>

@{
    ViewBag.Title = "Index";
}

@*----------this view displays pages in paginated list instead of breaking it up by categories-----------*@

@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
<br/>
<p><a href="~/admin/PageAdmin/Main">View pages listed by categories</a></p>
<hr />

<div class="action_link">
    @Html.ActionLink("Add New page", "Create")
</div>
<table class="stripes">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().page_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().page_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().page_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().menu_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().page_visibility)
        </th>
        
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.page_title)
        </td>
        <td>
            @item.page_created.ToShortDateString()
        </td>
        <td>
            @{
                foreach (var menu_item in ViewBag.breadCrumbs)
                {
                    if (menu_item.Key == item.menu_id)
                        {
                            @Html.Raw(menu_item.Value);
                        }
                }
            }
        </td>
        <td>
            @{
                if(item.page_visibility == 'Y')
                {
                    @:Published
                }
                else
                {
                    @:Draft
                }
            }
            
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.page_id }) |
            @Html.ActionLink("Preview", "Details", new { id=item.page_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.page_id })
        </td>
    </tr>
}

</table>

@*-----------Pagination Helper-----------------------*@

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<br/>
@Html.PagedListPager(Model, p => Url.Action("Index", new { p }))
