@model IEnumerable<ThunderB_redesign.Models.page>

@{
    ViewBag.Title = "Index";
}


<div class="action_link">
    @Html.ActionLink("Add New page", "Create")
</div>
<table class="stripes">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page_visibility)
        </th>
        
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.page_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.page_created)
        </td>
        <td>
            @{
                foreach (var menu_item in ViewBag.breadCrumbs)
                {
                    if (menu_item.Key == item.menu_id)
                        {
                            @Html.Raw(menu_item.Value);
                        }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.page_visibility)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.page_id }) |
            @Html.ActionLink("Preview", "Details", new { id=item.page_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.page_id })
        </td>
    </tr>
}

</table>
