@model ThunderB_redesign.Models.Job

@{
    ViewBag.Title = "Job Details";
}

<div class="job-details">
    <div class="back">
        @Html.ActionLink("Back to Job Board", "Index")
    
    </div>

    <fieldset>
        <h2>@Model.job_title</h2>

        <div class="apply">
            @Html.ActionLink("Apply Now", "Create", "jobApp", new { job_id = Model.Id }, null)
        </div>

        <div class="small">
            <div class="left">
                @Html.DisplayNameFor(model => model.jobCategory.category):
            </div>
            <div class="right">
                @Html.DisplayFor(model => model.jobCategory.category)
            </div>

            <div class="left">
                @Html.DisplayNameFor(model => model.closing_date):
            </div>
            <div class="right">
                 @Model.closing_date.ToString("D")
            </div>
            <div class="left">
                @Html.DisplayNameFor(model => model.date_posted):
            </div>
            <div class="right">
                 @Model.date_posted.ToString("D")
            </div>
        </div>
       
        <div class="display-field">
            @Html.Raw(Model.job_description)
        </div>

        <div class="apply">
            @Html.ActionLink("Apply Now", "Create", "jobApp", new { job_id = Model.Id }, null)
        </div>


    </fieldset>
    <div class="back">
        @Html.ActionLink("Back to Job Board", "Index")
      
    </div>

</div>