@model ThunderB_redesign.Models.subscriber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>subscriber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sub_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sub_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
