@model ThunderB_redesign.Models.subscriber

@{
    ViewBag.Title = "tbrhsc | Newsletter Control Panel";
}

<div id="newsletter-admin">
    <br/>
    <h2>Subscriber Details</h2>
    <br/>
    <div class="width-30 margin-0-auto">
        <div class="float-left">
            <strong>@Html.DisplayNameFor(model => model.sub_name)</strong>
        </div>

        <div class="float-right">
            @Html.DisplayFor(model => model.sub_name)
        </div>

        <div class="clear-both"></div>
        <br/>
        <div class="float-left">
            <strong>@Html.DisplayNameFor(model => model.sub_email)</strong>
        </div>

        <div class="float-right">
            @Html.DisplayFor(model => model.sub_email)
        </div>

        <div class="clear-both"></div>

    </div>
    <br/><br/>
    <p>
        @Html.ActionLink("Edit", "Update", new { id = Model.sub_id })
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

