@model IEnumerable<ThunderB_redesign.Models.subscriber>

<div id="newsletter-admin">

   
     @Html.ActionLink("Compose a Newsletter", "SendNewsletter")
    
    <br />
    <br/>

    <h2>Newsletter Subscribers</h2>

    <table class="stripes">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sub_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sub_email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sub_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sub_email)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.sub_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.sub_id })
                </td>
            </tr>
        }

    </table>

</div>