@model ThunderB_redesign.Models.NewsletterModel

@*Author: Wilston Dsouza
    Purpose: Mobile Development Final Project*@

@{
    ViewBag.Title = "tbrhsc | Newsletter Control Panel";
}

<div id="newsletter-admin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div id="form-newsletter-mail" class="width-40 margin-0-auto text-center">

        <strong>@Html.Label("Subject")</strong>
        <br/>
        @Html.EditorFor(model => model.subject)
        <br/>
        @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })

        <br />

        <strong>@Html.Label("Message")</strong>
        <br/>
        @Html.TextAreaFor(model => model.message)
        <br/>
        @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })

        <br/>
        <br />

        <input type="submit" value="Send Newsletter" class="btn btn-default" />

    </div>
    }

    <br/>
    <br/>
    <br/>
    <div>
        @Html.ActionLink("Cancel", "Index")
    </div>
</div>

