@model ThunderB_redesign.Models.subscriber

@*Author: Wilston Dsouza
    Purpose: Mobile Development Final Project*@

@{
    ViewBag.Title = "tbrhsc | Newsletter Control Panel";
}

<div id="newsletter-admin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal width-30 margin-0-auto">
            <h2>Update subscriber details</h2>
            <br />
            @Html.HiddenFor(model => model.sub_id)

            <table class="stripes margin-0-auto">
                <tr>
                    <td>
                        <strong>@Html.LabelFor(model => model.sub_name)</strong>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sub_name)
                        @Html.ValidationMessageFor(model => model.sub_name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.LabelFor(model => model.sub_email)</strong>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.sub_email)
                        @Html.ValidationMessageFor(model => model.sub_email)
                    </td>
                </tr>
            </table>
            <br/>
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }

    <br/><br/>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


