<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    @Styles.Render("~/Content/css")

    <!-- Fonts & Icons -->
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Fonts")

    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->



    <section class="wrapper clearfix">
        <header id="main_header">
            <div id="top-logo">
                <img src="~/img/logo-top.png" class="top-logo-img" />
                <div id="title"><h1>Thunder Bay Regional Health Sciences Centre</h1></div>
            </div>
            <nav id="top_nav">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Regional Centres</a></li>
                    <li>@Html.ActionLink("Staff login", "Login","Account")</li>
                </ul>
            </nav>
            <nav class="main_nav clearfix">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Patients</a></li>
                    <li><a href="">Visitors</a></li>
                    <li><a href="">Programs & Services</a></li>
                    <li><a href="">Directory</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
                <div class="search-box">

                    <input placeholder="Search term" />
                    <button><span class="fa fa-search"></span></button>

                </div>
            </nav>
        </header>



        @RenderBody()

        
        <footer class="clearfix">
            <div class="one-sixth first">
                <h4>Get involved</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Patients</a></li>
                    <li><a href="">Visitors</a></li>
                    <li><a href="">Programs & Services</a></li>
                    <li><a href="">Directory</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
            <div class="one-sixth first">
                <h4>Inquiries</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Patients</a></li>
                    <li><a href="">Visitors</a></li>
                    <li><a href="">Programs & Services</a></li>
                    <li><a href="">Directory</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
            <div class="one-sixth first">
                <h4>Information</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Patients</a></li>
                    <li><a href="">Visitors</a></li>
                    <li><a href="">Programs & Services</a></li>
                    <li><a href="">Directory</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
            <div class="one-half last">
                <ul>
                    <li id="facebook"><a href="" class="fa fa-facebook"></a></li>
                    <li id="twitter"><a href="" class="fa fa-twitter"></a></li>
                    <li id="linkedin"><a href="" class="fa fa-linkedin"></a></li>
                    <li id="rss"><a href="" class="fa fa-rss"></a></li>
                    <li id="google"><a href="" class="fa fa-google-plus"></a></li>
                </ul>
            </div>
        </footer>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts")
    <script>
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = '//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>
    </body>
</html>
