@{
    IEnumerable<ThunderB_redesign.Models.menu_category> menuItems = (IEnumerable<ThunderB_redesign.Models.menu_category>)ViewData["MenuItems"];
}

<nav class="main_nav clearfix">
   
    <ul>
        @foreach (var menuItem in menuItems)
        {
            if (menuItem.menu_id == 0)
            {
                <li>@Html.ActionLink(menuItem.menu_text,"Index","Home")</li>
            }
            else
            {
                //Get the sub menu items
                IEnumerable<ThunderB_redesign.Models.menu_category> subMenuItems = (IEnumerable<ThunderB_redesign.Models.menu_category>)ViewData["SubMenuItems for " + menuItem.menu_id.ToString()];
                
                
                
                <li>
                    <div><a href="#">@menuItem.menu_text</a></div>
                    <nav class="sec_nav">
                        <ul>
                            @foreach (var subMenuItem in subMenuItems)
                            {
                               @*<li>@Html.ActionLink(subMenuItem.menu_text, "Index", subMenuItem.menu_slug, new { subMenuItem.menu_id })</li>*@
                               @*<li><a href="@Url.Action("Index", "Page", new { subMenuItem.menu_id })">@subMenuItem.menu_text</a></li>*@
                            <li><a href="~/@subMenuItem.menu_slug/Index?menu_id=@subMenuItem.menu_id">@subMenuItem.menu_text</a></li>
                            }
                        </ul>
                    </nav>
                </li>
            }


        }
    </ul>

    <div class="search-box">

        <input placeholder="Search term" />
        <button><span class="fa fa-search"></span></button>

    </div>
    <a href="#" id="pull">&nbsp;</a>
</nav>

