<script src="~/Scripts/otf.js"></script>
@model PagedList.IPagedList<ThunderB_redesign.Models.doctor>
@using System.Linq
@using PagedList.Mvc
<div id="doctorList">

    <div class="pagination pagination-large" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page}),
        PagedListRenderOptions.MinimalWithItemCountText)

    </div>


    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Specialty
            </th>
            <th>
                Office Name
            </th>
            <th>
                Office Address
            </th>
            <th>
                Phone Number
            </th>
            <th>Department
            </th>

        </tr>


        @if (!Model.Any())
        {
            <tr><td>No doctors found</td></tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        Dr. @Html.DisplayFor(modelItem => item.dr_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dr_specialty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dr_office_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dr_office_address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dr_office_phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.department.dept_name)
                    </td>

                </tr>
            }
        }

    </table>

    <div class="pagination pagination-large" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

</div>
