@model ThunderB_redesign.Models.DonationVM
@{
    ViewBag.Title = "tbrhsc | Donations";
}

@*Author: Wilston Dsouza
Purpose: Mobile Development Final Project*@

<div class="donation-container">
    <div class="top-left">
        <img alt="donation image" src="~/img/donation.jpg"/> 
    </div>
    <div class="top-right">
        <h2>Giving</h2>
        <p>Your gift to the Thunder Bay Regional Health Sciences Foundation ensures excellence in healthcare in Northwestern Ontario. You can choose to direct your gift to the area of highest need, to one of our specialty funds: the Northern Cancer Fund, the Northern Cardiac Fund or the Health Sciences Discovery Fund, or to any specific area of care at Thunder Bay Regional Health Sciences Centre.</p>
    </div>

    <div class="bottom">

        <h2>Donate Now</h2>
            @using (Html.BeginForm("Index", "Donation", FormMethod.Post))
            {
                @*@Html.ValidationSummary()*@
                <div class="clear-both"></div>
                
                <div class="float-left width-40">
                  
                    <div class="form-group">
                        <div class="float-left">@Html.Label("Name")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_name) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_name, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="clear-both"></div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Phone")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_phone) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_phone, "", new { @class = "text-danger" })
                    </div>

                    <div class="clear-both"></div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Street")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_street) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_street, "", new { @class = "text-danger" })
                    </div>

                    <div class="clear-both"></div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Province")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_province) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_province, "", new { @class = "text-danger" })
                    </div>

                    <div class="clear-both"></div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Postal Code")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_postal_code) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_postal_code, "", new { @class = "text-danger" })
                    </div>

                    <div class="clear-both"></div>

                </div>
                
                <div class="float-right width-40">

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Email")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_email) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Apartment No")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_apt_no) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_apt_no, "", new { @class = "text-danger" })
                    </div>

                    <div class="clear-both"></div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("City")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_city) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_city, "", new { @class = "text-danger" })
                    </div>

                    <div class="clear-both"></div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Country")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dnr_country) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dnr_country, "", new { @class = "text-danger" })
                    </div>

                    <div class="clear-both"></div>

                    <div class="form-group">
                        <div class="float-left">@Html.Label("Amount")</div>
                        <div class="float-right">@Html.TextBoxFor(model => model.dtn_amount) *</div>
                        <div class="clear-both"></div>
                        @Html.ValidationMessageFor(model => model.dtn_amount, "", new { @class = "text-danger" })
                    </div>

                </div>
                
                <div class="clear-both"></div>
                <br/>
                <div>* Required</div>
                <br />
                <button type="submit" class="paypal-button large">Donate</button>

                <div class="clear-both"></div>

            }
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

