@model IEnumerable<ThunderB_redesign.Models.appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="stripes">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.pat_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_req)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pat_name)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.date_req)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_book)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_book)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.apt_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.apt_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.apt_id })
        </td>
    </tr>
}

</table>
