@model ThunderB_redesign.Areas.admin.Models.Faq

@{
    ViewBag.Title = "Create";
}

<h2>Add Faq =</h2>
@*this forms adds a new concert, can only be inserted if data is valid*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.question)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.question)
        @Html.ValidationMessageFor(model => model.question)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.answer)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.answer)
        @Html.ValidationMessageFor(model => model.answer)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.category)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.category)
        @Html.ValidationMessageFor(model => model.category)
    </div>
    
    <input class="btn btn-primary save" type="submit" value="Save" />


}

<div class="back">
    @Html.ActionLink("Back to List", "Index") @*takes you back to the home page*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






