@model ThunderB_redesign.Models.triage

@using (Html.BeginForm("Update", "ERAdmin", FormMethod.Post))
{
    <table class="stripes">


        <tr>
            <th>Patient ID</th>

            <th>Patient Name</th>

            <th>Arrival</th>

            <th>Discharge (est)</th>

            <th>Doctor Assigned</th>

            <th>Actions</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(x => x.case_id)</td>
            <td>
                @Html.HiddenFor(x => x.case_id)
                @Html.TextBoxFor(x => x.patient_name)
            </td>
            <td>@Html.TextBoxFor(x => x.arrival)</td>
            <td>@Html.TextBoxFor(x => x.discharge)</td>
            <td>@Html.ValueFor(x => x.dr_id)
            @Html.HiddenFor(x => x.dr_id)</td>

            <td>
                <input type="submit" value="Save"
                       formaction="~/admin/ERAdmin/Update/" />
                &nbsp;&nbsp;
                <input type="submit" value="Cancel"
                       formaction="~/admin/ERAdmin/Cancel/@Model.case_id" />
            </td>
        </tr>
    </table>
}