@model ThunderB_redesign.Models.triage

@using (Html.BeginForm("Update", "ERAdmin", FormMethod.Post))
{
    <table border="1" cellpadding="10">


        <tr>
            <td>Patient ID :</td>

            <td>Patient Name :</td>

            <td>Arrival :</td>

            <td>Discharged :</td>

            <td>Actions</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(x => x.case_id)</td>
            <td>
                @Html.HiddenFor(x => x.case_id)
                @Html.TextBoxFor(x => x.patient_name)
            </td>
            <td>@Html.TextBoxFor(x => x.arrival)</td>
            <td>@Html.TextBoxFor(x => x.discharge)</td>

            <td>
                <input type="submit" value="Save"
                       formaction="~/admin/ERAdmin/Update/" />
                &nbsp;&nbsp;
                <input type="submit" value="Cancel"
                       formaction="~/admin/ERAdmin/Cancel/@Model.case_id" />
            </td>
        </tr>
    </table>
}