@model ThunderB_redesign.Models.TriageViewModel

@{
    ViewBag.Title = "Index";
}

<h1>List of ER cases</h1>
<h2>@ViewBag.numDoctors doctors on duty. Total wait time : @ViewBag.TotalWait</h2>
<form method="post">

    <table class="stripes">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Arrived</th>
            <th>Discharge (est.)</th>
            <th colspan="2">Actions</th>
        </tr>

        @{
            foreach (var item in Model.ERpatients)
            {
                if (Model.SelectedERpatient != null)
                {
                    if (item.case_id == Model.SelectedERpatient.case_id)
                    {

                        @:<tr class="selected_item" style="font-weight:bold;">
                            }
                    else
                    {
                        @:<tr>
                            }
                }
                else
                {
                    @:<tr>
                            }
                            <td>@item.case_id</td>
                            <td>@item.patient_name</td>
                            <td>@item.arrival</td>
                            <td>@item.discharge</td>
                            <td>
                                <input type="submit" formaction="~/admin/ERAdmin/Select/@item.case_id"
                                       value="Select" />
                            </td>
                            <td>
                                <input type="submit" formaction="~/admin/ERAdmin/Delete/@item.case_id"
                                       value="Discharge" />
                            </td>
                            @:</tr>


            }

        }
    </table>
    <br /><br />
    <input type="submit" value="Add new patient" formaction="~/admin/ERAdmin/New" />
</form>
<br /><br />
@{
    if (Model.SelectedERpatient != null)
    {
        if (Model.DisplayMode == "Read")
        {
            Html.RenderPartial("ShowPatient", Model.SelectedERpatient);
        }
        if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("EditPatient", Model.SelectedERpatient);
        }
    }
    if (Model.DisplayMode == "Write")
    {
        Html.RenderPartial("InsertPatient", new ThunderB_redesign.Models.triage());
    }
}
