@model ThunderB_redesign.Models.TriageViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Emergency Room Status</h1>
<h2>Doctors on duty : @ViewBag.numDoctors</h2>

<div id="er_stats">
    @ViewBag.TotalWait.ToString("%h'hr. '%m'min.'")

    <ul>
        @{
            foreach (var doc in ViewBag.docOutput)
            {

                <li>
                    Dr.  @doc.Key : @doc.Value.ToString("%h'hr. '%m'min.'")
                    @if (doc.Value.ToString("%h'hr. '%m'min.'") == ViewBag.TotalWait.ToString("%h'hr. '%m'min.'"))
                    {
                        @: <i class="fa fa-arrow-right"></i>
            }
                </li>

            }
        }
    </ul>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        setInterval(function () {
            $('#er_stats').load('/admin/ERAdmin/AdminMonitor');
        }, 3000); // every 3 sec
    });

</script>

<form method="post">

    <table class="stripes">
        <tr>
            <th>Id</th>
            <th>Case Type</th>
            <th>Arrived</th>
            <th>Discharge (est.)</th>
            <th>Assigned ER doctor</th>
            <th colspan="2">Actions</th>
        </tr>

        @{
            foreach (var item in Model.ERpatients)
            {
                if (Model.SelectedERpatient != null)
                {
                    if (item.case_id == Model.SelectedERpatient.case_id)
                    {
                        @:<tr class="selected_item" style="font-weight:bold;">
                    }
                    else
                    {
                        @:<tr>
                    }
                }
                else
                {
                    if (item.discharge < DateTime.UtcNow.AddHours(-4))
                    {
                        @:<tr style="color:red">
                    }
                    else
                    {
                        @:<tr>
                    }
                }
                <td>@item.case_id</td>
                <td>@item.patient_name</td>
                <td>@item.arrival</td>
                <td>@item.discharge</td>
                <td>
                    @{foreach (var doc in ViewBag.docList)
                    {
                        if (item.dr_id == doc.Key)
                        {
                            @: Dr.
                            @doc.Value }
                    }

                    }

                </td>
                <td>
                    <input type="submit" formaction="~/admin/ERAdmin/Select/@item.case_id"
                           value="Select" />
                </td>
                <td>
                    <input type="submit" formaction="~/admin/ERAdmin/Delete/@item.case_id"
                           value="Discharge" />
                </td>
                @:</tr>




            }

        }
    </table>
    <br /><br />
    <input type="submit" value="Add new patient" formaction="~/admin/ERAdmin/New" />
</form>
<br /><br />
@{
    if (Model.SelectedERpatient != null)
    {
        if (Model.DisplayMode == "Read")
        {
            Html.RenderPartial("ShowPatient", Model.SelectedERpatient);
        }
        if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("EditPatient", Model.SelectedERpatient);
        }
    }
    if (Model.DisplayMode == "Write")
    {
        Html.RenderPartial("InsertPatient", new ThunderB_redesign.Models.triage());
    }
}
