@model ThunderB_redesign.Models.TriageViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Emergency Room Status</h1>
<h2>Doctors on duty : @ViewBag.numDoctors</h2>
<p>&nbsp;</p>
<div id="er_stats">
    Min. waiting time : @ViewBag.TotalWait.ToString("%h'hr. '%m'min.'")

    <ul>
        @{

            //here we go through the list of the doctors in the ER and display doctor's name and waiting time
            // also arrow indicates the doctor with the shortest waiting time (up to a minute accuracy, seconds don't count)

            foreach (var doc in ViewBag.docOutput)
            {

                <li>
                    Dr.  @doc.Key : @doc.Value.ToString("%h'hr. '%m'min.'")
                    @if (doc.Value.ToString("%h'hr. '%m'min.'") == ViewBag.TotalWait.ToString("%h'hr. '%m'min.'"))
                    {
                        @: <i class="fa fa-arrow-right"></i>
            }
                </li>

            }
        }
    </ul>

</div>

@* this function reloads monitor every 3 seconds*@

<script type="text/javascript">

    $(document).ready(function () {
        setInterval(function () {
            $('#er_stats').load('/admin/ERAdmin/AdminMonitor');
        }, 3000); // every 3 sec
    });

</script>

@* displaying a list of all patient currently in the ER *@
<form method="post">

    <table class="stripes">
        <tr>
            <th>Id</th>
            <th>Case Type</th>
            <th>Arrived</th>
            <th>Discharge (est.)</th>
            <th>Assigned ER doctor</th>
            <th colspan="2">Actions</th>
        </tr>

        @{
            foreach (var item in Model.ERpatients)
            {
                if (Model.SelectedERpatient != null)
                {
                    //if curent case has just been inserted  or being updated it is diplayed in bold

                    if (item.case_id == Model.SelectedERpatient.case_id)
                    {
                        @:<tr class="selected_item" style="font-weight:bold;">
                    }
                    else
                    {
                        // if discharge time hass passed the case is highlighted in red

                        if (item.discharge < DateTime.UtcNow.AddHours(-4))
                        {
                            @:<tr style="color:red">
                        }
                        else
                        {
                            @:<tr>
                       }
                    }
                }
                else
                {
                    // if discharge time hass passed the case is highlighted in red

                    if (item.discharge < DateTime.UtcNow.AddHours(-4))
                    {
                        @:<tr style="color:red">
                    }
                    else
                    {
                        @:<tr>
                    }
                }
                <td>@item.case_id</td>
                <td>@item.patient_name</td>
                <td>@item.arrival</td>
                <td>@item.discharge</td>
                <td>
                    @{foreach (var doc in ViewBag.docList)
                    {
                        if (item.dr_id == doc.Key)
                        {
                            // displaying doctor name instead of doctor id

                            @: Dr.
                            @doc.Value }
                    }

                    }

                </td>
                <td>
                    <input type="submit" formaction="~/admin/ERAdmin/Select/@item.case_id"
                           value="Select" />
                </td>
                <td>
                    <input type="submit" formaction="~/admin/ERAdmin/Delete/@item.case_id"
                           value="Discharge" />
                </td>
                @:</tr>

            }

        }
    </table>
    <br /><br />
    <input type="submit" value="Add new patient" formaction="~/admin/ERAdmin/New" />
</form>
<br /><br />

@* depending on whether any case is selected in the controller and displayMode, partial view is displaying
EditPAtient, ShowPatient or InsertPatient  *@
@{
    if (Model.SelectedERpatient != null)
    {
        if (Model.DisplayMode == "Read")
        {
            Html.RenderPartial("ShowPatient", Model.SelectedERpatient);
        }
        if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("EditPatient", Model.SelectedERpatient);
        }
    }
    if (Model.DisplayMode == "Write")
    {
        Html.RenderPartial("InsertPatient", new ThunderB_redesign.Models.triage());
    }
}
