@model ThunderB_redesign.Models.triage



<div class="timed">
    @using (Html.BeginForm("Insert", "ERAdmin", FormMethod.Post))
    {
        <table class="stripes">

            <tr>
                
                <th>Emergency type</th>
                <th>Arrived</th>
                <th>Discharge(est.)</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>@Html.Hidden("patient_name", "Case Type")
                
                    @Html.DropDownListFor(model => model.em_id, new SelectList(ViewBag.emergencyList, "em_id", "em_description"), "Select an emergency")
                    <br/>@Html.ValidationMessageFor(model => model.em_id, "", new { @class = "text-danger" })
                </td>
                <td>@Html.TextBox("arrival", DateTime.Now.ToLocalTime())
                    <br />@Html.ValidationMessageFor(model => model.arrival, "", new { @class = "text-danger" })

                </td>
                <td>@Html.TextBox("discharge", DateTime.Now.AddMinutes(40).ToLocalTime())
                    <br />@Html.ValidationMessageFor(model => model.discharge, "", new { @class = "text-danger" })
                    @*<script type="text/javascript">
                        $(document).ready(function () {
                        jQuery("#datetimepicker").datetimepicker();
                        });
                    </script>*@
                    @*<script type="text/javascript">
                        $("#em_id").change(function () {
                            var selectedValue = $(this).val();
                            var arrival = $("#arrival").val();
                            alert(selectedValue);
                            var dischargeTime = 
                        $("#txtBox").val($(this).find("option:selected").attr("value"))
                        });
                    </script>*@
                 </td>

<td>
    <input type="submit" value="Save"
    formaction="~/admin/ERAdmin/Insert" />
&nbsp;&nbsp;
    <input type="reset" value="Cancel"
    formaction="~/admin/ERAdmin/Index" />
</td>
</tr>
</table>
    }

</div>

@*function to make "add new patient" disappear after 2 minutes.
Prevents having to correct default arrival and discharge time if the form stays opened for over 2 min*@

<script type="text/javascript">

    $(document).ready(function () {

        setTimeout(function () {
            $(".timed").hide(500);
        }, 120000);
    });
                    </script>



