@model ThunderB_redesign.Models.triage

@using (Html.BeginForm("Edit", "ERAdmin", FormMethod.Post))
{
    <table class="stripes">

        <tr>
            <th>Case Id</th>
            
            <th>Case type</th>

            <th>Arrival</th>

            <th>Discharge</th>

            <th>Doctor Assigned</th>

            <th>Actions</th>
        </tr>
        <tr>
            <td>@Model.case_id</td>
            <td>@Model.patient_name</td>
            <td>@Model.arrival</td>
            <td>@Model.discharge</td>
            <td>
                @{foreach (var doc in ViewBag.docList)
                {
                    if (Model.dr_id == doc.Key)
                    {
                        @: Dr.
                        @doc.Value }
                }

                }

            </td>

            <td>
                <input type="submit" value="Edit"
                       formaction="~/admin/ERAdmin/Edit/@Model.case_id" />
                &nbsp;&nbsp;
                <input type="submit" value="Cancel"
                       formaction="~/admin/ERAdmin/Index" />
            </td>
        </tr>
    </table>
}