@model ThunderB_redesign.Models.appointment

@{
    ViewBag.Title = "Thank you for your request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*--------------------View to display confirmation page with details of the request-----------------*@

<div class="middle clearfix">

    @*----------------Right sidebar---------------------------------*@

    <div class="sidebar_right clearfix">
        <div class="donate clearfix">
            <h2>Help Make a Difference Donate to TBRHSC</h2>
        </div>

    @*-------------links to ER page sections-------------------*@

        <section class="emergency_info">
            <h2>Emergency Room</h2>
            <div class="emergency_content">
                <ul>
                    <li><a href="~/ER/Index#how-to-get">Trip to ER</a></li>
                    <li><a href="~/ER/Index#visitors">Visitors</a></li>
                    <li><a href="~/ER/Index#discharge">Discharge</a></li>
                    <li><a href="~/ER/Index#admittance">Admittance</a></li>
                    <li><a href="~/ER/Index#er-plan">ER Plan</a></li>
                </ul>
            </div>

      @*-----------------ER Monitor is diplayed in the div "erm_holder" through Ajax call-------------*@

            <div id="erm_holder">

            </div>
        </section>

    </div>

    @*--------------------Main content is an appointment request form---------------------*@

    <div class="main_content clearfix">
        <section class="top_section clearfix top">

            @*--------------Breadcrumb navigation--------------------------------*@

            <header class="section-header">
                <span class="page_breadcrumb">

                    <a href="/">Home</a> > <a href="/Page/Index?menu_id=1">Patients</a> > <a href="/Appointment/Index">Book an Appointment</a>

                </span>
                <h1>Thank you for your request.</h1>
                <h4>We will be in touch soon. Please check your email.</h4>
            </header>
            <article>

                <hr />

             @*----------------Appointment details: Patient name, Email (To), Phone, Doctor, and Follow-up date------------------*@

                <p>
                    Hello @ViewBag.Patient,
                </p>
                <p>
                    We received your request for an appointment with Dr. @ViewBag.Doctor .
                    Our office will review doctor's schedule and contact you with the date and time of your appointment.

                </p>
                <p>
                    The contact information you provided is:
                    Email: @ViewBag.To
                    Phone: @ViewBag.Phone
                </p>
                <p>
                    We will get back to you and provide you with your appointment date and time within 7 days.
                    If you don't hear from us by @ViewBag.FollowUpDate please contact our office at (905)999-9999
                </p>
                <p>
                    Best regards,
                    Dr. @ViewBag.Doctor
                </p>

                @*-------------Link to return to form page--------------------*@
    
    <p>
        <a href="~/Appointment/Index">Request another appointment</a>
    </p>
    </article>
    </section>
</div>
</div>

