@model ThunderB_redesign.Models.appointment

@{
    ViewBag.Title = "Thank you for your request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle clearfix">
    <div class="sidebar_right clearfix">
        <div class="donate clearfix">
            <h2>Help Make a Difference Donate to TBRHSC</h2>
        </div>



        <section class="emergency_info">
            <h2>Emergency Room</h2>
            <div class="emergency_content">
                <ul>
                    <li><a href="~/ER/Index#how-to-get">Trip to ER</a></li>
                    <li><a href="~/ER/Index#visitors">Visitors</a></li>
                    <li><a href="~/ER/Index#discharge">Discharge</a></li>
                    <li><a href="~/ER/Index#admittance">Admittance</a></li>
                    <li><a href="~/ER/Index#er-plan">ER Plan</a></li>
                </ul>
            </div>
            <div id="erm_holder">

            </div>
        </section>

    </div>

    <div class="main_content clearfix">
        <section class="top_section clearfix top">
            <header class="section-header">
                <span class="page_breadcrumb">

                    <a href="/">Home</a> > Patients > <a href="/Appointment/Index">Book an Appointment</a>

                </span>
                <h1>Thank you for your request</h1>
            </header>
            <article>

                <hr />
             

                <p>
                    Hello @ViewBag.Patient,
                </p>
                <p>
                    We received your request for an appointment with Dr. @ViewBag.Doctor .
                    Our office will review doctor's schedule and contact you with the date and time of your appointment.

                </p>
                <p>
                    The contact information you provided is:
                    Email: @ViewBag.To
                    Phone: @ViewBag.Phone
                </p>
                <p>
                    We will get back to provide you with your appointment date and time within 7 days.
                    If you don't hear from us by @ViewBag.FollowUpDate please contact our office at (905)999-9999
                </p>
                <p>
                    Best regards,
                    Dr. @ViewBag.Doctor
                </p>

    
    <p>
        @Html.ActionLink("Request another appointment", "Index")
    </p>
    </article>
    </section>
</div>
</div>

