@model ThunderB_redesign.Models.appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dr_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dr_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_req)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_req)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pat_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pat_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pat_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pat_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pat_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pat_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pat_ohip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pat_ohip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fam_dr_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fam_dr_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fan_dr_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fan_dr_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.apt_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@using (Html.BeginForm("Edit", "Appointment", "Post"))
{
    @Html.HiddenFor(model => model.apt_id)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
