@model ThunderB_redesign.Models.appointment

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*--------------------this view contains an appointment request form---------------------*@

<div class="middle clearfix">

    @*--------------------Right sidebar------------------------------*@

    <div class="sidebar_right clearfix">
        <div class="donate clearfix">
            <h2><a href="/Donation/Index">Help Make a Difference Donate to TBRHSC</a></h2>
        </div>


@*--------------------Emergency room links and wait time monitor----------------*@
        <section class="emergency_info">
            <h2>Emergency Room</h2>
            <div class="emergency_content">
                <ul>
                    <li><a href="~/ER/Index#how-to-get">Trip to ER</a></li>
                    <li><a href="~/ER/Index#visitors">Visitors</a></li>
                    <li><a href="~/ER/Index#discharge">Discharge</a></li>
                    <li><a href="~/ER/Index#admittance">Admittance</a></li>
                    <li><a href="~/ER/Index#er-plan">ER Plan</a></li>
                </ul>
            </div>

  @*-----------------ER Monitor is diplayed in the div "erm_holder" through Ajax call------------*@

            <div id="erm_holder">

            </div>
        </section>

    </div>

    @*-------------Main content hold the actual form------------------*@

    <div class="main_content clearfix">
        <section class="top_section clearfix top">

            @*------------Breadcrumb navigation--------------------*@

            <header class="section-header">
                <span class="page_breadcrumb">

                    <a href="/">Home</a> > <a href="/Page/Index?menu_id=1">Patients</a> > <a href="/Appointment/Index">Book an Appointment</a>

                </span>
                <h1>Request an Appointment</h1>
            </header>
            <article>

                @using (Html.BeginForm())
                {

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            @*------------------Doctor list is populated from database--------------------*@

                            @Html.LabelFor(model => model.dr_id,"Select doctor", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.dr_id, new SelectList(ViewBag.docList, "dr_id", "dr_name"), "Select a doctor")
                                @Html.ValidationMessageFor(model => model.dr_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*-----------------Hidden fields are preset ----------------------------*@

                        @Html.Hidden("date_req", DateTime.UtcNow.AddHours(-4).ToShortDateString())
                        @Html.Hidden("date_book", DBNull.Value)
                        @Html.Hidden("time_book", "")
                        @Html.Hidden("app_status", "Pending")


                        @*----------------Patient name------------------------------------------*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.pat_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.pat_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pat_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*----------------Patient phone (masked input)------------------------------------------*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.pat_phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.pat_phone)
                                @Html.ValidationMessageFor(model => model.pat_phone, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        @*----------------Patient email------------------------------------------*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.pat_email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.pat_email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pat_email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <input type="submit" value="Send request" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </article>
        </section>
    </div>
</div>



