@model ThunderB_redesign.Models.page

@{
ViewBag.Title = @Model.page_title;
ViewBag.MetaDescription = @Model.page_title;
}

   
<div class="middle clearfix">
    <div class="sidebar_right clearfix">
        <div class="donate clearfix">
            <h2><a href="/Donation/Index">Help Make a Difference Donate to TBRHSC</a></h2>
        </div>

        <section class="news_feed clearfix">
            <header>Recent News</header>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
           

            <header>List of pages</header>
            <div class="news_title">

                <ul>

                    @{foreach (var item in ViewBag.relatedPages)
                    {

                        <li>
                            <a href="@Url.Action("Detail", "Page", new {item.page_slug })">@item.page_title</a>

                        </li>
                    }
                    }
                </ul>
            </div>


        </section>

        <section class="emergency_info">
            <h2>Emergency Room</h2>
            <div class="emergency_content">
                <ul>
                    <li><a href="~/ER/Index#how-to-get">Trip to ER</a></li>
                    <li><a href="~/ER/Index#visitors">Visitors</a></li>
                    <li><a href="~/ER/Index#discharge">Discharge</a></li>
                    <li><a href="~/ER/Index#admittance">Admittance</a></li>
                    <li><a href="~/ER/Index#er-plan">ER Plan</a></li>
                </ul>
            </div>
            <div id="erm_holder">
                
            </div>
        </section>

    </div>

    <div class="main_content clearfix">
        <section class="top_section clearfix top">
            <header class="section-header">
                <span class="page_breadcrumb">

                    @{
                        foreach (var menu_item in ViewBag.breadCrumbs)
                        {
                            if (menu_item.Key == Model.menu_id)
                            {
                                @:<a href="/">Home</a> > @Html.Raw(menu_item.Value)
                            }
                        }
                    }
                </span>
                <h1>@Model.page_title</h1>
            </header>
            <span class="date">@Model.page_created.DayOfWeek, @Model.page_created.Date.ToLongDateString()</span>
            <article>
            @Html.Raw(Model.page_content)


            @*<dt>
                    @Html.DisplayNameFor(model => model.menu_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.menu_id)
                </dd>*@
            </article>
        </section>

    </div>
 </div>
