@model ThunderB_redesign.Models.page

@{
ViewBag.Title = @Model.page_title;
ViewBag.MetaDescription = @Model.page_title;
}
<h2>Detail</h2>

<div>
    <h4>page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page_content)
        </dt>

        <dd>
            @Html.Raw(Model.page_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menu_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page_visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page_slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta_desc)
        </dd>

    </dl>
</div>
