@model ThunderB_redesign.Models.page

@{
ViewBag.Title = @Model.page_title;
ViewBag.MetaDescription = @Model.page_title;
}

    @*<dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>*@

    @*<dt>
            @Html.DisplayNameFor(model => model.page_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_title)
        </dd>*@
<div class="middle clearfix">
    <div class="sidebar_right clearfix">
        <div class="donate clearfix">
            <h2>Help Make a Difference Donate to TBRHSC</h2>
        </div>

        <section class="news_feed clearfix">
            <header>Recent News</header>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
            <div class="news_title bottom">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>

        </section>

        <section class="emergency_info">
            <h2>Emergency</h2>
            <div class="emergency_content">
                <ul>
                    <li>Who to call</li>
                    <li>Directions</li>
                    <li>Maps</li>
                </ul>
            </div>
            <div id="erm_holder">
                
            </div>
        </section>

    </div>

    <div class="main_content clearfix">
        <section class="top_section clearfix top">
            <header class="section-header">
                <span class="page_breadcrumb">
                    @{
                        foreach (var menu_item in ViewBag.breadCrumbs)
                        {
                            if (menu_item.Key == Model.menu_id)
                            {
                                @Html.Raw(menu_item.Value);
                            }
                        }
                    }
                </span>
                <h1>@Model.page_title</h1>
            </header>
            <span class="date">@Model.page_created.DayOfWeek, @Model.page_created.Date.ToLongDateString()</span>
            <article>
            @Html.Raw(Model.page_content)


            @*<dt>
                    @Html.DisplayNameFor(model => model.menu_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.menu_id)
                </dd>*@
            </article>
        </section>

    </div>
 </div>
