@model ThunderB_redesign.Models.product

@{
    ViewBag.Title = "tbrhsc | Gift Shop Inventory Management";
}


<div class="giftshop-admin">
    <br />

    <h2>Gift Shop Inventory Management</h2>

    <br />
    <hr />
    <br />
    
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Add a new product</h2>
            <br/>
            <hr />
            
            <table class="stripes margin-0-auto">
                <tr>
                    <td>
                        @Html.Label("Product Name")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prd_name, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Description")
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.prd_description, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_description, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Price")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prd_price, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_price, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Available Units")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prd_count, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_count, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Category")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prd_cat_id, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_cat_id, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Product Image")
                    </td>
                    <td>
                        <input type="file" name="file" id="file" style="width: 100%;" class="form-control" />
                    </td>
                    <td>

                    </td>
                </tr>
                
            </table>

            <br/>
            
            <input type="submit" value="Create" class="btn btn-default" />
            
        </div>
    }

    <br /><br/><br/>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


