@model IEnumerable<ThunderB_redesign.Models.GiftShopVM>

@*Author: Wilston Dsouza
Purpose: Mobile Development Final Project*@

@{
    ViewBag.Title = "tbrhsc | Gift Shop Inventory Management";
}

<div class="giftshop-admin">
    <br />

    <h2>Gift Shop Inventory Management</h2>

    <br />
    <hr />
    <br />

    <p>
        @Html.ActionLink("Add New Product", "Create")
    </p>

    <br /><br />

    <table class="stripes">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prd_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prd_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prd_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prd_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prd_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prd_cat_id)
            </th>
            <th>
                @Html.Label("Product Image")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prd_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prd_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prd_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prd_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prd_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prd_cat_id)
                </td>
                <td>
                    <img src="~/Images/GiftShop/@item.prd_img_url"></td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.prd_id })
                    @Html.ActionLink("Details", "Details", new { id = item.prd_id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.prd_id })
                </td>
            </tr>
        }

    </table>
    <br/><br/>
</div>
