@model ThunderB_redesign.Models.product

@{
    ViewBag.Title = "tbrhsc | Gift Shop Inventory Management";
}

<div class="giftshop-admin">

    <br />

    <h2>Gift Shop Inventory Management</h2>

    <br />
    <hr />
    <br />

    <h2>Update Product Details</h2>

    <br/><br/>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            @Html.HiddenFor(model => model.prd_id)
            @Html.HiddenFor(model => model.prd_img_url)
            @Html.HiddenFor(model => model.prd_cat_id)

            <table class="stripes margin-0-auto">
                <tr>
                    <td>
                        @Html.Label("Product Name")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prd_name, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Description")
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.prd_description, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_description, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Price")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prd_price, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_price, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Available Units")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prd_count, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.prd_count, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            
            <br/>
            
            <input type="submit" value="Save" class="btn btn-default" />
    
        </div>
    }

    <br/><br/>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>