@model IEnumerable<ThunderB_redesign.Models.newsTable>

@{
    ViewBag.Title = "Index";
}


 @*The landing page for the News page for the CMS
It Loops through all the news posts in the database and displays them with options to Update or Delete*@
<h2>News Stories</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Insert", "NewsPost")
</p>


<div id="all_news">
    @foreach (var item in Model)
    {
        <br />
        <br />
        <h1>@Html.DisplayFor(modelItem => item.headline)</h1>
        <br />
        <p>@Html.DisplayFor(modelItem => item.date)</p>
        <br />
        <p>@Html.DisplayFor(modelItem => item.stories)</p>
        <br />
        <p>By: @Html.DisplayFor(modelItem => item.author)</p>
        <br />
        <span>
            @Html.ActionLink("Update", "Update", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </span>
        <br />
        <br />

    }
</div>
 


