@model ThunderB_redesign.Models.newsTable

@{
    ViewBag.Title = "Write a Story";
}

@*The view with forms to write a news post that will be submitted into the database*@
@*all fields have validation*@

<h2>Write a New Story</h2>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <br />
    
    @Html.LabelFor(model => model.headline)
    <br />
    @Html.TextBoxFor(model => model.headline, new { style = "width: 600px;" })
    @Html.ValidationMessageFor(model => model.headline, "*")
    <br />
    <br />
    @Html.LabelFor(model => model.date)
    <br />
    @Html.TextBoxFor(model => model.date)
    @Html.ValidationMessageFor(model => model.date, "*")
    <br />
    <br />
    @Html.LabelFor(model => model.stories)
    <br />
    @Html.TextAreaFor(x => x.stories, new { style = "width: 600px; height: 300px;" })
    @Html.ValidationMessageFor(model => model.stories, "*")
    <br />
    <br />
    @Html.LabelFor(model => model.author)
    <br />
    @Html.TextBoxFor(model => model.author)
    @Html.ValidationMessageFor(model => model.author, "*")
    <br />
    <br />
    <input type="submit" value="Publish" />
    <br />
}

<p>@Html.ActionLink("Back", "Index")</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}