@model ThunderB_redesign.Models.faq

@{
    ViewBag.Title = "Create";
}


<h2>Add Faq </h2>
@*this forms adds a new concert, can only be inserted if data is valid*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.question):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.question, new { style = "width: 100%;" })
        @Html.ValidationMessageFor(model => model.question)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.answer):
    </div>
    <div class="editor-field">
        <textarea class="ckeditor" id="ckeditor" rows="10" name="answer"></textarea>
        @Html.ValidationMessageFor(model => model.answer)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.category):
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.objCategories, "category", "category", "Select a category"))
        @Html.ValidationMessageFor(model => model.category)
    </div>

    <input class="btn btn-primary save" type="submit" value="Save" />


}

<div class="back">
    @Html.ActionLink("Back to List", "Index") @*takes you back to the home page*@
</div>

    @Scripts.Render("~/bundles/jqueryval")


<script>
    $(document).ready(function() {
        
        CKEDITOR.replace('answer', {
            language: 'en'
        });
    });

</script>



