@model IEnumerable<ThunderB_redesign.Models.faq>

@{
    ViewBag.Title = "Index";
}

<h2>FAQs</h2>

<a href="@Url.Action("Create")">Add Faq</a>

<table class="stripes">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
            
                <td>@x.question</td>
                <td>@Html.Raw(x.answer)</td>
                <td>@x.category</td>
                @*edit and delete actions, both take you to different forms*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = x.id }) &nbsp;&nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id = x.id })
                </td>
            </tr>
        }
    </tbody>


</table>