@model ThunderB_redesign.Models.feedback

@{
    ViewBag.Title = "Feedback Details: " + @Model.topic;
}

@*This page lists all information about the selected feedback*@

<div id="feedback_details">
    <h1>Feedback Details</h1>
    <br />
    <br />
    <p>@Html.DisplayFor(x => x.topic)</p>
    <br />
    <p><span>Name: </span>@Html.DisplayFor(x => x.name)</p>
    <p><span>Email: </span>@Html.DisplayFor(x => x.email)</p>
    <br />
    <p><span>Feedback: </span>@Html.DisplayFor(x => x.fbcontent)</p>
    <br />


    <p>
        @Html.ActionLink("Back", "Index") |

        @*the delete button*@
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </p>

</div>